#h{
    color: orangered;
    text-align: center;
    font-size: 20px;
}
#ov{
    color: rgb(82, 44, 102);
 width: 900px;
 margin-left: 200px;
}
#image{
    position: relative;
    float: right;
    margin: 2px;
    width: 230px;
    height: 290px;
}
#ela{

    color: rgb(82, 44, 102);
 width: 900px;
 margin-left: 200px;

}

#ha{

    color: orangered;
    text-align: center;
    font-size: 20px;
}
#hb{
    color: orangered;
    text-align: center;
    font-size: 20px;
}
#mc{
    
 color: rgb(82, 44, 102);
 width: 900px;
 margin-left: 200px;
}
#hc{
    color: orangered;
    text-align: center;
    font-size: 20px;

}
#boh{

        
 color: rgb(82, 44, 102);
 width: 900px;
 margin-left: 200px;
}